.progress-hidden{
  display:none;
}

.fota-interval-desc{
  font-size: 1.1rem;
  color: #505859;
  white-space:normal;
  width: 80%;
}

.fota-spec-menu{
  height: 8rem;
}
.fota-interval-item{
  width:   120%;
}
.menu-item-disabled{
  color: #808A87;
  pointer-events: none;
}
.fota-spec-select{
 position:absolute;
 background: none repeat scroll 0 0 transparent;
 border: medium none;
 color: transparent;
 width: 80%;
 right: 0.5rem;
 top: 1.5rem;
}

.fota-select-arrow{
  background: #00ABCD url("images/icons-18-white.png") -107px;
  width: 23px;
  height: 23px;
  border-radius: 40px;
  position: absolute;
  left: 3rem;
  top: 2rem;
  float: right;
}

#system-update-version-desc {
  position: absolute;
  height: 2rem;
  top: 25%;
  font-size: 1.3rem;
  color: #505859;
  /* click/tap events should be caught by the <a> element below the <small> */
  pointer-events: none;
}

#download-percentage{
  position: absolute;
  top: 60%;
  height: 2rem;
  padding-left: 8rem;
  font-size: 1.2rem;
  color: #505859;
  text-align: center;
  width: 50%;
}

#file-size-desc {
  position: absolute;
  bottom: 13%;
  width: 50%;
  height: 2rem;
  padding-left: 2.5rem;
  font-size: 1.2rem;
  color: #505859;
}

#button-download-action {
  left: 63%;
  bottom: 10%;
  width: calc(35% - 1rem);
  text-align: center;
}

#download-progress-bar {
   position: absolute;
   top: 5%;
   width: 50%;
   display: block;
   margin-left: 1rem;
   height: 1.5rem;
}

.update-info-subline{
  padding-left: 3rem;
  padding-right: 3rem;
  top: 15%;
  padding-top: 0.0rem;
  font-size: 1.4rem;
  color: #505859;
  /* click/tap events should be caught by the <a> element below the <small> */
  pointer-events: none;
}

.system-update-help{
  position: absolute;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  color: #505859;
}

.system-update-help-content{
  padding-right: 1.5rem;
  width: calc(100% - 3rem);
}

#system-update-info > span{
  line-height: 1rem;
}

#system-update-info {
  display: none;
}

#system-update-info.download,
#system-update-info.check {
 display:block;
}

#system-update-info.download > .check {
  display:none;
}

#system-update-info.check > .download,
#system-update-info.check > progress {
  display:none;
}
