/**
 * Settings style & layout
 * note: `lists.css' must be loaded before this stylesheet
 */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "MozTT", sans-serif;
  overflow: hidden;
  background-color: #f4f4f4;
}

.divItem {
  font-size: 1.8rem;
  padding: 0 0.3rem;
  line-height: 6rem;
  display: inline;
}
.divItem >input {
  height: 3rem;
}


.resultItem {
  font-size: 1.9rem;
  width: 100%;
  height: 300px;
  overflow: auto;
}
 .textItem,
.nfcItem {
  font-size: 1.9rem;
  width: 100%;
  line-height: 6rem;
  overflow: auto;
}